body {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    overflow: hidden;
    font-family: Custom-Garamond;
}

.container {
    text-align: center;
    border: solid white 2px;
    padding: 5% 10%;
}

.big-text {
    font-size: 10vw; 
    line-height: 1.5;
    margin-bottom: 12px;
}

.small-text {
    font-size: 2.5vw;
    line-height: 1.5;
}

@font-face {
    font-family: "Custom-Garamond";
    src: url('../SiteFonts/EBGaramond-Regular.ttf');
}

@media (max-width: 1023px) {
    .big-text {
        font-size: 15vw;
        line-height: 1.5;
        margin-bottom: 12px;
    }

    .small-text {
        font-size: 7.5vw;
        line-height: 1.5;
    }

}
