
.h2 {
    font-family: "Custom-Consolas";
    font-size: 3.5vmin;
    color: white;
    text-decoration: underline;
    text-decoration-color: grey;
    text-align: center;
}

.p {
    margin: 5vh 5vw 0% 5vw;
    font-size: 1.2vw;
    text-align: center;
}

.img {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    height: 50%;
}

.project-title {
    /*Font Settings*/
    font-family: "Custom-Consolas";
    font-size: 3.5vmin;
    color: white;
    text-decoration: none;
    /*Block Settings*/
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}

    .project-title a {
        color: white;
        transition: linear 0.1s;
    }

        .project-title a:hover {
            color: white;
            font-size: 3.6vmin;
            transition: linear 0.1s;
        }

.project-left {
    margin: 1% 1% 1% 1%;
    float: left;
    width: 48%;
    height: auto;
}

.project-right {
    margin: 1% 1% 1% 1%;
    float: right;
    width: 48%;
    margin-top: auto;
    margin-bottom: auto;
}

.project-holder {
    padding: 10px 10px 10px 10px;
    margin: 1% 1% 1% 1%;
    width: 95%;
    min-height: 10px;
    overflow: hidden;
    display: flex;
}

.video-right {
    margin: 1% 1% 1% 1%;
    float: right;
    width: 48%;
}

.project-description {
    margin: 2% 2% 2% 2%;
    font-size: 2vmin;
    color: white;
    font-family: "Custom-Consolas";
}

.project-connections {
    display: flex;
    justify-content: center;
}

    .project-connections img {
        width: 50%;
        height: 50%;
    }

img.placement {
    margin-right: 25%;
    margin-left: 25%;
    width: 5vw;
    height: 5vw;
}

.spacer-width {
    width: 2vw;
}
