
/* For all the project in-depth pages */

.projtitle {
    font-family: "Custom-Consolas";
    font-size: max(250%, 24px);
    text-align: center;
    color: white;
    margin-top: 5vh;
    height: 10vh;
}

.grid-roleTitle {
    font-size: 1.5vw;
    grid-area: roleTitle;
    margin-bottom: 1%;
    border-bottom: solid #434343 4px;
}

.grid-contributedLeft {
    grid-area: roleSec1;
    font-size: 1.2vw;
    border-right: solid #434343 2px;
}

.grid-contributedRight {
    grid-area: roleSec2;
    font-size: 1.2vw;
    border-left: solid #434343 2px;
}

.grid-contributions {
    margin: 0 auto 0 auto;
    width: 75%;
    color: white;
    display: grid;
    text-align: center;
    grid-template-areas:
        'roleTitle roleTitle'
        'roleSec1 roleSec2';
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
}

    .grid-contributions span {
        display: block;
        line-height: 1.75;
    }


/* Displaying Content Sections */
/* Left Text Right Media */


/* Left Media Right Text */




/* Media Queries */

@media (max-width: 1080px) {
    .projtitle {
        font-size: 5vw;
        margin-top: 2vh;
        height: 5vh;
    }

    .grid-roleTitle {
        font-size: 3vw;
    }

    .grid-contributedLeft {
        font-size: calc(1vw + 50%);
        border-right: none;
    }

    .grid-contributedRight {
        font-size: min(2vw, 125%);
        border-left: none;
        border-bottom: solid #434343 5px;
    }

    .grid-contributions {
        grid-template-areas:
            'roleTitle'
            'roleSec1'
            'roleSec2';
        grid-template-rows: 1fr auto auto;
        grid-template-columns: 1fr;
    }

        .grid-contributions span {
            line-height: 1.75;
        }
}
