
/* =========== */
/* Link Styles */
/* =========== */

.bdy {
    background-color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .bdy::-webkit-scrollbar {
        display: none;
    }


.idxgrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border-collapse: separate;
    grid-column-gap: 10%;
    overflow: hidden;
}

    .idxgrid h1 {
        font-family: "Custom-Garamond";
        font-size: 10vmax;
    }

.idxcellleft {
    place-content: center;
    text-align: right;
}

.idxcellright {
    place-content: center;
    text-align: left;
}

.idxredirect {
    text-align: center;
}

.header {
    background-color: #1d1d1d;
    border-radius: 10px;
    border-width: 5px;
    overflow: hidden;
    text-decoration: none;
}

    .header a:link, a:visited {
        transition: color 0.5s, background-color 0.5s;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: #1d1d1d;
        border-radius: 5px;
    }

    .header a:hover, a:active {
        text-align: center;
        color: #212121;
        border-radius: 5px;
        background-color: #ededed;
    }

.header-right {
    /*Font Settings*/
    font-family: "Custom-Consolas";
    font-size: 18px;
    color: white;
    text-decoration: none;
    /*Block Settings*/
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.header-title {
    /*Font Settings*/
    font-family: "Custom-Garamond";
    font-size: 5.5vmin;
    color: white;
    /*Block Settings*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

spectitle {
    color: white;
}

.header-buttons-container {
    /*Block Settings*/
    height: 25%;
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 1vh;
}

.menu-buttons {
    width: 10vw;
    flex: 1;
    font-family: "Custom-Consolas";
    font-size: 3vmin;
    color: white;
}

h1 {
    font-family: "Custom-Consolas";
    font-size: 5vmin;
    color: white;
}

h2 {
    font-family: "Custom-Consolas";
    font-size: 3.5vmin;
    color: white;
}

h3 {
    font-family: "Custom-Consolas";
    font-size: 3vmin;
    color: white;
}

.p275 {
    font-family: "Custom-Consolas";
    font-size: 2.75vmin;
    color: white;
}

.p25 {
    font-family: "Custom-Consolas";
    font-size: 2.5vmin;
    color: white;
}

.p225 {
    font-family: "Custom-Consolas";
    font-size: 2.25vmin;
    color: white;
}

.para-center {
    font-family: "Custom-Consolas";
    color: white;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    margin: 1% 10% 1% 5%;
}

.clickable {
    font-family: "Custom-Consolas";
    font-size: 3vmin;
    color: white;
    flex: 1;
}

    .clickable a:link, a:visited {
        font-family: "Custom-Consolas";
        font-size: 3vmin;
        color: white;
    }

    .clickable a:hover, a:active {
        font-family: "Custom-Consolas";
        font-size: 3vmin;
        color: white;
    }

.resume-holder {
    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}

.title-centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    flex: 1;
}

.project-title {
    /*Font Settings*/
    font-family: "Custom-Garamond";
    color: white;
    text-decoration: none;
    /*Block Settings*/
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}

.project-left {
    margin: 1% 1% 1% 1%;
    float: left;
    width: 48%;
    height: auto;
}

.project-right {
    margin: 1% 1% 1% 1%;
    float: right;
    width: 48%;
    margin-top: auto;
    margin-bottom: auto;
}

.project-holder {
    padding: 10px 10px 10px 10px;
    margin: 1% 1% 1% 1%;
    width: 95%;
    min-height: 10px;
    overflow: hidden;
    display: flex;
}

.video-right {
    margin: 1% 1% 1% 1%;
    float: right;
    width: 48%;
}

.project-description {
    margin: 2% 2% 2% 2%;
    font-size: 2vmin;
}

.vidwrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .vidwrap iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

.project-connections {
    display: flex;
    justify-content: center;
}

    .project-connections img {
        width: 30%;
        height: 30%;
    }

a .colorfix {
    background-color: transparent;
}

img.placement {
    margin-right: 25%;
    margin-left: 25%;
    width: 5vw;
    height: 5vw;
}

img.spacer-hori {
    width: 100%;
    opacity: 10%;
}

.spacer-width {
    width: 20%;
    height: 100%;
}

img.calcdemo {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    filter: grayscale(100%);
}

.calcdemo:hover {
    filter: grayscale(0%);
    transition: filter 0.25s;
}

.screenshots img {
    width: 100%;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: filter 0.25s;
}

    .screenshots img:hover {
        filter: grayscale(0%);
        transition: filter 0.25s;
    }

.welcome-message {
    width: 75%;
    margin: 5% auto 5% auto;
    vertical-align: central;
    text-align: center;
}

/*
    Homepage CSS Below
*/

.grid-proj1 {
    grid-area: pj1;
}

    .grid-proj1 img {
        width: 40vw;
    }

.grid-proj2 {
    grid-area: pj2;
    align-self: center;
}

    .grid-proj2 img {
        width: 40vw;
    }

.grid-proj3 {
    grid-area: pj3;
    align-self: center;
}

    .grid-proj3 img {
        width: 40vw;
    }

.grid-resume {
    grid-area: res;
    width: 100%;
}

    .grid-resume img {
        max-width: 50vw;
        height: 100%;
        overflow: hidden;
        scrollbar-width: thin;
        border: 0px solid black;
    }

    .grid-resume iframe::-webkit-scrollbar-thumb {
    }

    .grid-resume iframe::-webkit-scrollbar {
        width: 0.5em;
    }

.grid-aboutme {
    grid-area: abt;
}

    .grid-aboutme div {
        text-align: center;
    }

    .grid-aboutme p {
        font-size: 24px;
        width: 50%;
        height: 50%;
        margin: 0% 25% 0% 25%;
        text-align: center;
    }

.grid-gif {
    grid-area: gif;
    display: grid;
    gap: 2vh 3vw;
    align-items: center;
    grid-template-areas:
        'img0 img1 img2'
        'img4 img5 img6'
        'img8 img9 img10'
        'img3 img7 img11';
}

    .grid-gif img {
        max-width: 100%;
        max-height: 100%;
        transition: linear 0.1s;
    }

        .grid-gif img:hover {
            transform: scale(1.1);
            transition: linear 0.1s;
        }


/* REGION FOR GRID IMAGE GIFS*/

.grid-projimg0 {
    grid-area: img0;
}

.grid-projimg1 {
    grid-area: img1;
}

.grid-projimg2 {
    grid-area: img2;
}

.grid-projimg3 {
    grid-area: img3;
}

.grid-projimg4 {
    grid-area: img4;
}

.grid-projimg5 {
    grid-area: img5;
}

.grid-projimg6 {
    grid-area: img6;
}

.grid-projimg7 {
    grid-area: img7;
}

.grid-projimg8 {
    grid-area: img8;
}

.grid-projimg9 {
    grid-area: img9;
}

.grid-projimg10 {
    grid-area: img10;
}

.grid-projimg11 {
    grid-area: img11;
}

/* END OF REGION */

.grid-empty {
    grid-area: emp;
}

.grid-empty2 {
    grid-area: emp2;
}

.grid-psy-foot {
    grid-area: psyFoot;
}

.grid-connect {
    font-size: 200%;
    grid-area: lnk;
}

    .grid-connect img {
        padding: 1% 1% 1% 1%;
        width: 10vh;
    }

.grid-psy-title {
    grid-area: psyTitle;
    color: white;
    font: "Custom-Consolas";
    text-align: center;
    padding-top: 1%;
    font-size: 300%;
}

.grid-psy-itch {
    font-size: 200%;
    text-align: center;
    justify-content: center;
    grid-area: psyItch;
    margin-top: 5%;
    align-content: center;
}

.grid-psy-git {
    font-size: 200%;
    text-align: center;
    justify-content: center;
    grid-area: psyGit;
    margin-top: 5%;
    align-content: center;
}


.grid-psy-vid {
    grid-area: psyVid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

    .grid-psy-vid iframe {
        min-width: 90%;
        min-height: 90%;
    }

/** {
    border: 1px solid white;
}*/

.grid-psy-emp1 {
    grid-area: psyEmp1;
}

.grid-psy-emp2 {
    grid-area: psyEmp2;
}

.grid-psy-emp3 {
    grid-area: psyEmp3;
}

.grid-container {
    margin-top: 2%;
    display: grid;
    grid-template-areas:
        'emp abt emp2'
        'emp pj1 emp2'
        'emp gif emp2'
        'emp pj2 emp2'
        'emp pj3 emp2'
        'emp res emp2'
        'emp lnk emp2';
    gap: 1vh;
    grid-template-rows: fit-content() 1fr 50px 0fr 0fr 1.5fr 30px;
    grid-template-columns: 15fr 70fr 15fr;
    padding: 1vh;
    /*border: groove;*/
}

    .grid-container div {
        color: white;
        text-align: center;
        padding: 20px 0;
        /*border: groove;*/
    }

.grid-container-proj {
    margin-top: 1%;
    display: grid;
    color: white;
    font: "Custom-Consolas";
    grid-template-areas:
        'psyTitle psyTitle  psyTitle psyTitle psyTitle'
        'psyEmp1  psyVid    psyVid   psyVid   psyEmp3'
        'psyEmp1  psyItch   psyEmp2  psyGit   psyEmp3'
        'psyEmp1 psyContr  psyContr psyContr psyEmp3';
    grid-template-rows: 2fr 10fr 5fr 40fr;
    grid-template-columns: 15% 27.5% 15% 27.5% 15%;
}

.grid-psyContr-sum1 {
    grid-area: psySum1;
}

.grid-psyContr-sum2 {
    grid-area: psySum2;
}

.grid-psyContr-sum3 {
    grid-area: psySum3;
}


.sum-text h2 {
    font-family: "Custom-Consolas";
    font-size: 3.5vmin;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.sum-text p {
    margin: 5vh 5vw 0% 5vw;
    font-size: 1.2vw;
    text-align: center;
}

.grid-psyContr-gif2 {
    grid-area: psyGif1;
}

.grid-psyContr-gif2 {
    grid-area: psyGif2;
    padding-top: 30%;
    padding-bottom: 30%;
}

    .grid-psyContr-gif2 img {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 75%;
        height: 75%;
    }

.grid-psyContr-gif3 {
    grid-area: psyGif3;

}
.grid-psyContr-gif3 img {
    padding-top: 25%;
    padding-bottom: 25%;
    width: 100%;
    height: 100%;
}

.sum-gif img {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    height: 50%;
}

.grid-psyContr-pre {
    font-size: 200%;
    text-align: center;
    justify-content: center;
    grid-area: psyPre;
}

.grid-psyContr-nex {
    font-size: 200%;
    text-align: center;
    justify-content: center;
    grid-area: psyNex;
}

.grid-container-psy-contr {
    /*border: white 2px solid;*/
    grid-area: psyContr;
    display: grid;
    grid-template-areas:
        'psySum1 psyGif1'
        'psyGif2 psySum2'
        'psySum3 psyGif3';
    height: fit-content;
    margin-top: 2%;
    padding-bottom: 2%;
    grid-template-rows: fit-content(stretch) fit-content(stretch);
    row-gap: 2vh;
    column-gap: 1vw;
    grid-template-columns: fit-content(stretch) fit-content(stretch);
}

@font-face {
    font-family: "Custom-Garamond";
    src: url('../SiteFonts/EBGaramond-Regular.ttf');
}

@font-face {
    font-family: "Custom-Consolas";
    src: url('../SiteFonts/Consolas.ttf');
}
