
/* =========== */
/* Link Styles */
/* =========== */

.bdy {
    background-color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .bdy::-webkit-scrollbar {
        display: none;
    }


.idxgrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border-collapse: separate;
    grid-column-gap: 10%;
    overflow: hidden;
}

    .idxgrid h1 {
        font-family: "Custom-Garamond";
        font-size: 10vmax;
    }

.idxcellleft {
    place-content: center;
    text-align: right;
}

.idxcellright {
    place-content: center;
    text-align: left;
}

.idxredirect {
    text-align: center;
}

.header {
    background-color: #1d1d1d;
    border-radius: 10px;
    border-width: 5px;
    overflow: hidden;
    text-decoration: none;
}

    .header a:link, a:visited {
        transition: color 0.5s, background-color 0.5s;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: #1d1d1d;
        border-radius: 5px;
    }

    .header a:hover, a:active {
        text-align: center;
        color: #212121;
        border-radius: 5px;
        background-color: #ededed;
    }

.header-right {
    /*Font Settings*/
    font-family: "Custom-Consolas";
    font-size: 18px;
    color: white;
    text-decoration: none;
    /*Block Settings*/
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.header-title {
    /*Font Settings*/
    font-family: "Custom-Garamond";
    font-size: 5.5vmin;
    color: white;
    /*Block Settings*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

spectitle {
    color: white;
}

.header-buttons-container {
    /*Block Settings*/
    height: 25%;
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 1vh;
}

.menu-buttons {
    max-width: 10vw;
    flex: 1;
    font-family: "Custom-Consolas";
    font-size: 3vmin;
    color: white;
}

h1 {
    font-family: "Custom-Consolas";
    font-size: 5vmin;
    color: white;
}

h2 {
    font-family: "Custom-Consolas";
    font-size: 3.5vmin;
    color: white;
}

h3 {
    font-family: "Custom-Consolas";
    font-size: 3vmin;
    color: white;
}

.p275 {
    font-family: "Custom-Consolas";
    font-size: 2.75vmin;
    color: white;
}

.p25 {
    font-family: "Custom-Consolas";
    font-size: 2.5vmin;
    color: white;
}

.p225 {
    font-family: "Custom-Consolas";
    font-size: 2.25vmin;
    color: white;
}

.para-center {
    font-family: "Custom-Consolas";
    color: white;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    margin: 1% 10% 1% 5%;
}

.clickable {
    font-family: "Custom-Consolas";
    font-size: 3vmin;
    color: white;
    flex: 1;
}

    .clickable a:link, a:visited {
        font-family: "Custom-Consolas";
        font-size: 3vmin;
        color: white;
    }

    .clickable a:hover, a:active {
        font-family: "Custom-Consolas";
        font-size: 3vmin;
        color: white;
    }

.resume-holder {
    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}

.title-centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    flex: 1;
}

.project-title {
    /*Font Settings*/
    font-family: "Custom-Garamond";
    color: white;
    text-decoration: none;
    /*Block Settings*/
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}

.project-left {
    margin: 1% 1% 1% 1%;
    float: left;
    width: 48%;
    height: auto;
}

.project-right {
    margin: 1% 1% 1% 1%;
    float: right;
    width: 48%;
    margin-top: auto;
    margin-bottom: auto;
}

.project-holder {
    padding: 10px 10px 10px 10px;
    margin: 1% 1% 1% 1%;
    width: 95%;
    min-height: 10px;
    overflow: hidden;
    display: flex;
}

.video-right {
    margin: 1% 1% 1% 1%;
    float: right;
    width: 48%;
}

.project-description {
    margin: 2% 2% 2% 2%;
    font-size: 2vmin;
}

.vidwrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .vidwrap iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

.project-connections {
    padding: 5% 25% 0% 25%;
    display: flex;
    align-content: center;
    justify-content: center;
}

a.colorfix {
    background-color: transparent;
}

img.placement {
    margin-right: 25%;
    margin-left: 25%;
    width: 5vw;
    height: 5vw;
}

img.spacer-hori {
    width: 100%;
    opacity: 10%;
}

.spacer-width {
    width: 20%;
    height: 100%;
}

img.calcdemo {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    filter: grayscale(100%);
}

.calcdemo:hover {
    filter: grayscale(0%);
    transition: filter 0.25s;
}

.screenshots img {
    width: 100%;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: filter 0.25s;
}

    .screenshots img:hover {
        filter: grayscale(0%);
        transition: filter 0.25s;
    }

.welcome-message {
    width: 75%;
    margin: 5% auto 5% auto;
    vertical-align: central;
    text-align: center;
}

/*
    Homepage CSS Below
*/

.grid-proj1 {
    grid-area: pj1;
    align-self: center;
}

    .grid-proj1 img {
        width: 30vw;
    }

.grid-proj2 {
    grid-area: pj2;
    align-self: center;
}

    .grid-proj2 img {
        width: 40vw;
    }

.grid-proj3 {
    grid-area: pj3;
    align-self: center;
}

    .grid-proj3 img {
        width: 40vw;
    }

.grid-resume {
    grid-area: res;
}

    .grid-resume iframe {
        width: 95%;
        height: 100%;
        overflow: hidden;
        scrollbar-width: thin;
        border: none;
    }

        .grid-resume iframe::-webkit-scrollbar-thumb {
            background-color: #888;
        }

        .grid-resume iframe::-webkit-scrollbar {
            width: 0.5em;
        }

.grid-aboutme {
    grid-area: abt;
    }

.grid-aboutme div {
    text-align: center;
}

.grid-gif {
    grid-area: gif;
}

.grid-empty {
    grid-area: emp;
}

.grid-empty2 {
    grid-area: emp2;
}

.grid-connect {
    grid-area: lnk;

}

.grid-connect img {
    padding: 1% 1% 1% 1%;
    width: 7vh;
}

.grid-container {
    margin-top: 2%;
    display: grid;
    grid-template-areas:
        'abt gif'
        'abt res'
        'abt res'
        'pj1 res'
        'pj2 res'
        'pj3 res'
        'lnk lnk';
    gap: 1vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    padding: 1vh;
    /*border: groove;*/
}

    .grid-container div {
        color: white;
        text-align: center;
        padding: 20px 0;
        font-size: 12px;
        /*border: groove;*/
    }


@font-face {
    font-family: "Custom-Garamond";
    src: url('../SiteFonts/EBGaramond-Regular.ttf');
}

@font-face {
    font-family: "Custom-Consolas";
    src: url('../SiteFonts/Consolas.ttf');
}
